/**1-gallery**/
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  object-fit: cover;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.05);
  cursor: zoom-in;
}
.page-gallery {
  padding-top: 24px;
}
/**2-form**/
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  box-sizing: border-box;
}
.feedback-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 100%;
}
.submit-btn {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: #6c8cff;
}
.feedback-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus,
.feedback-input:hover {
  border-color: #000;
}
.feedback-textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 80px;
  padding: 8px 16px;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-textarea:focus,
.feedback-textarea:hover {
  border-color: #000;
}
